*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family:'poppins', sans-serif;
}

body{
    background: midnightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container{
    background: #fff;
    width: 700px;
    padding: 40px;
    margin: 3px;
    border-radius: 10px;
}
.wrapper{
    border: 1px solid black;
    border-radius: 6px;
}
.wrapper .text-input{
    display: flex;
    border-bottom: 1px solid #bbb;
}
.text-input .replacetext{
    border-left: 1px solid#bbb;
    border-radius: 2px;

}
.text-input textarea{
    height: 200px;
    width: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 5px;
    resize: none;
}
.container h2{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: lightseagreen;
    color: white;
    font-weight: 900;
    
}
.controls, li, .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.controls{

    padding: 12px 15px;
    list-style: none;
}
.controls .icons i{
    width: 50px;
    color: orange;
    cursor: pointer;
    font-size: 14px;
}

.controls .row select{
    border: none;
    outline: none;
    font-size: 16px;
    background: none;
}

.controls .exchange  {
    color: lightcoral;
    font-size: 16px;
    cursor: pointer;

}
.controls .icons {
    width: 40%;
}
.controls .row .form{
    border-right: 1px solid blueviolet;
    padding-right: 15px;
}
.controls .row .to{
    border-right: 1px solid blueviolet;
    padding-right: 15px;
}

.container button{
    width: 100%;
    padding: 16px;
    margin-top: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    background: #5372F0;
    color: #fff;
}